# Ignore Node.js dependencies
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build outputs
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
*.swp
.vercel
